NODE_ENV=development
APP_PORT=3310
APP_SECRET=REPLACE_WITH_A_SECRET_OF_AT_LEAST_32_CHARACTERS
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@localhost:5435/lucarne
TEST_DATABASE_URL=postgresql://test_user:test_password@localhost:5436/lucarne_test
